.topics-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88px;

  .image {
    width: 36px;
    height: 36px;
  }

  // topics-menu 上面第一个标签
  .image:nth-child(1) {
    margin-left: 40px;
  }

  .image:nth-child(3) {
    margin-right: 40px;
  }

  .title {
    font-family: PingFangSC-Medium;
    font-size: 34px;
    color: rgba(61, 61, 61, 1);
  }
}
